<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true" scan="true">

    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ALL</level>
        </filter>
        <encoder>
            <pattern>%r %d{ISO8601} %-5p %c - %m%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender for debug and higher -->
    <appender name="AppDebugAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/app-debug.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/app-debug.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%r %d{ISO8601} %-5p %c - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="AppInfoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/app-info.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/app-info.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%r %d{ISO8601} %-5p %c - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="AppWarnAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/app-warn.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/app-warn.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%r %d{ISO8601} %-5p %c - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="AppErrorAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/app-error.log</file>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/app-error.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%r %d{ISO8601} %-5p %c - %m%n</pattern>
        </encoder>
    </appender>

    <appender name="AppFatalAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${catalina.base}/logs/app-fatal.log</file>
        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>FATAL</marker>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>NEUTRAL</onMatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${catalina.base}/logs/app-fatal.%i.log</fileNamePattern>
            <minIndex>1</minIndex>
            <maxIndex>5</maxIndex>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>100MB</maxFileSize>
        </triggeringPolicy>
        <encoder>
            <pattern>%r %d{ISO8601} %-5p %c - %m%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="OFF"/>
    <logger name="org.hibernate.SQL" level="DEBUG" />
    <logger name="org.hibernate.type" level="TRACE" />
    <logger name="net.anotheria.changelog" level="DEBUG"/>

    <root level="ERROR">
        <appender-ref ref="ConsoleAppender"/>
        <appender-ref ref="AppErrorAppender"/>
    </root>


</configuration>
